@charset "utf-8";
#wrap {
    height: auto;
}
#wrap h1 {
    font-weight: 600;
    top: 44px;
    transform: translateX(-93px);
}
/* Contents */
#contents {
    padding: 0 16px;
    margin-top: 32px;
    margin-bottom: 64px;
}
#contents .background {
    font-size: 0.867rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    padding: 28px 40px;
    background-color: rgb(55, 147, 183, 0.8);
    text-align: center;
}
#contents .background p {
    font-size: 1rem;
    margin: 24px 0;
}
#contents .background h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 24px;
}
#contents .background p+h2+p {
    font-size: 0.9rem;
    margin-bottom: 48px;
}