@charset "utf-8";
#wrap {
    width: 100%;
}
/* Header */
.header {
    height: 60px;
}
.header .banner {
    /* position: fixed;
    left: 0;
    top: 0;
    z-index: 1; */
    display: none;
}
.header .banner img {
    width: 100%;
}
/* Contents */
/* Hover 검색창 */
#contents form {
    margin-top: 20px;
}
.box {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.search_container {
    width: 100%;
    vertical-align: top;
    /* 폰트어썸 위치기준값 */
    position: relative;
}
.search_container input#search::-webkit-input-placeholder {
    color: #efefef;
}
/* 폰트어썸 */
.search_container .icon {
    color: #4f5b66;
    /* 포지션 */
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: 17px;
    margin-left: 17px;
}
/* Input Form */
.search_container input#search {
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 11px;
    padding-left: 45px;
    border: none;
    outline: none;
    /* 플롯 */
    float: left;
    transition: all .5s ease;
}
/* Form Hover 효과 */
.search_container input#search:hover,
.search_container input#search:focus,
.search_container input#search:active {
    background:#1D496A;
}
.search_container input#search:hover .icon,
.search_container input#search:focus .icon,
.search_container input#search:active .icon {
    color: #fff;
}

/* Section Contents */
#contents .promotion {
    margin-top: 16px;
    padding: 0 10px;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
}
#contents .promotion p {
    font-weight: 600;
    font-size: 20px;
}
#contents .promotion p+p {
    font-weight: normal;
    font-size: 16px;
    margin-top: 14px;
}
/* Section YOUTUBE */
#contents .youtube {
    margin-top: 10px;
    padding: 0 10px;
}
#contents .youtube iframe {
    width: 100%;
}
/* Section 전시생물 소개 */
#contents .aqnow {
    margin-top: 16px;
    padding: 0 10px;
}
#contents .aqnow h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
    margin-bottom: 24px;
}
#contents .aqnow p {
    margin-top: 20px;
    text-align: center;
}
#contents .aqnow p button {
    display: inline-block;
    /* width: 140px; */
    padding: 14px 10px;
    background: #1d496a;
    border: none;
    border-radius: 4px;
    margin: 4px 8px;
    font-size: 0.7rem;
    color: #fff;
}
#myBtn {
    cursor: pointer;
}
