@charset "utf-8";
#wrap h1 {
    font-weight: 600;
    transform: translateX(-22px);
}
#contents .bgcolor{
    background-color: rgb(55, 147, 183, 0.8);
    padding: 16px 16px;
}
#contents img {
    width: 100%;
    margin-bottom: 12px;
}
#contents .time h2,
#contents .fee h2 {
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px #1D496A;
    margin-bottom: 4px;
}
#contents .time table{
    width: 300px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}
#contents .time table th {
    font-size: 14px;
    padding: 4px;
}
#contents .time table td {
    font-size: 14px;
    padding: 4px 8px;
}
#contents .time p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 16px;
}
#contents .fee table {
    width: 300px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}

#contents .fee table th {
    font-size: 14px;
    padding: 4px;

}
#contents .fee table td {
    font-size: 14px;
    padding: 4px 8px;
}
#contents .fee table tr:last-child td {
    padding: 8px 8px;
}

#contents .info p {
    font-size: 14px;
    color: #ccc;
    padding-bottom: 8px;
}